<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">产品销量</div>
    <div class="panel-body">
        <div class="input-group">
            <span class="input-group-addon" id="search">搜索</span>
            <input type="text" class="form-control" placeholder="关键字" aria-describedby="search" ng-model="query">
        </div>
    </div>
    <div class="span1" style="margin: 20px 20px;">
        <table class="table">
            <tr>
                <th>#</th>
                <th>商品名称</th>
                <th>价格</th>
                <th>电商</th>
                <th>销量</th>
                <th>评价数</th>
                <th>规格</th>
                <th>抓取时间</th>
                <th>操作</th>
            </tr>
            <tr ng-repeat="product in products | filter:query ">
                <td ng-bind="$index+1">1</td>
                <td>{{product.title}}</td>
                <td>￥{{product.price}}</td>
                <td>{{product.platform}}</td>
                <td>{{product.saleNum}}</td>
                <td>{{product.evaluateNum}}</td>
                <td>{{product.specification}}</td>
                <th ng-bind="product.time"></th>
                <td>
                    <a href="#/product/{{product.productId}}" class="btn btn-default btn-xs">查看详情</a>
                </td>

            </tr>
        </table>
    </div>
</div>