<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">产品销量</div>
    <div class="panel-body">
        <div class="input-group">
            <span class="input-group-addon" id="search">搜索</span>
            <input type="text" class="form-control" placeholder="关键字" aria-describedby="search"
                   ng-model="query">
        </div>
    </div>
    <div class="span1" style="margin: 20px 20px;">
        <table class="table">
            <tr>
                <th>商品名称</th>
                <th>价格</th>
                <th>电商</th>
                <th>销量</th>
            </tr>
            <tr ng-repeat="product in products | filter:query ">
                <td>{{product.title}}</td>
                <td>￥{{product.price}}</td>
                <td>{{product.platform}}</td>
                <td>{{product.saleNum}}</td>
                <td>
                    <button type="button" class="btn btn-default btn-xs" data-toggle="modal"
                            data-target="#updateModal" ng-click="setPhone(phone)">
                        查看详情
                    </button>
                </td>

            </tr>
        </table>
    </div>
</div>